<template>
  <div class="signUp_user">
    <div class="container_signUp_user">
      <h2>Registrarse</h2>
      <form v-on:submit.prevent="processSignUp">
        <input type="text" v-model="user.username" placeholder="Nombre de usuario" />
        <br />
        <input type="password" v-model="user.password" placeholder="Contraseña" />
        <br />
        <input type="text" v-model="user.TipoDoc" placeholder="Tipo de documento" />
        <br />
        <input type="text" v-model="user.IdDoc" placeholder="Número de docuement" />
        <br />
        <input type="email" v-model="user.email" placeholder="Correo electrónico" />
        <br />
        <h4>¿Es Administrador?</h4>
        <input type="checkbox" v-model="user.isAdmin"/>
        <button type="submit">Registrarse</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "SignUp",
  data: function () {
    return {
      user: {
        username: "",
        password: "",
        TipoDoc: "",
        IdDoc: "",
        email: "",
        isAdmin:"",
        account: {
          lastChangeDate: new Date().toJSON().toString(),
          balance: 0,
          isActive: true,
        },
      },
    };
  },
  methods: {
    processSignUp: function () {
      axios
        .post("https://muestrasprint.herokuapp.com/user/", this.user, {
          headers: {},
        })
        .then((result) => {
          let dataSignUp = {
            username: this.user.username,
            token_access: result.data.access,
            token_refresh: result.data.refresh,
          };
          this.$emit("completedSignUp", dataSignUp);
        })
        .catch((error) => {
          console.log(error);
          alert("ERROR: Fallo en el registro.");
        });
    },
  },
};
</script>

<style>
 .signUp_user{
 margin: 0;
 padding: 0%;
 height: 100%;
 width: 100%;
 
 display: flex;
 justify-content: center;
 align-items: center;
 }
 .container_signUp_user {

 border-radius: 1px; 
 width: 25%;
 height: 60%; 
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center; 
}
 .signUp_user h2{
 color: #319F9B; 
}
 .signUp_user form{
 width: 90%;  
}
 .signUp_user input{
 height: 40px;
 width: 100%;
 box-sizing: border-box;
 padding: 10px 20px;
 margin: 5px 0;
 border: 1px solid #319F9B;
}
 .signUp_user button{
 width: 100%;
 height: 40px;
 color: #E5E7E9;
 background: #319F9B;
 border: 1px solid #E5E7E9;
 border-radius: 5px;
 padding: 10px 25px;
 margin: 5px 0 25px 0; 
}
 .signUp_user button:hover{
 color: #283747;
 background: #E5E7E9;
 border: 1px solid #319F9B;
 }
  .signUp_user h4{
 color: #319F9B;
  padding: 0.5px 80px;
} 
</style>
