<template>
  <div class="user_list">
    <div class="listUser">
      <h2>Lista de Usuarios</h2>
      <table>
        <tr>
          <th>ID</th>
          <th>Nombre de Usuario</th>
          <th>Tipo de Documento</th>
          <th>Documento</th>
          <th>Email</th>
          <th>Acciones</th>
        </tr>
        <tr v-for="user in users" v-bind:key="user.id">
          <th>{{ user.id }}</th>
          <th>{{ user.username }}</th>
          <th>{{ user.Tipodoc }}</th>
          <th>{{ user.IdDoc }}</th>
          <th>{{ user.email }}</th>
          <th>
            <button button v-on:click="modificarUsuario(user.id)">
              Modificar
            </button>
          </th>
          <th>
            <button button v-on:click="eliminarIntegrante(user.id)">
              Eliminar
            </button>
          </th>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Users",

  data: function () {
    return {
      users: [],
    };
  },

  methods: {
    eliminarUsuario: async function (id) {
      this.userID = id;

      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }

      await this.verifyToken();

      let token = localStorage.getItem("token_access");
      axios
        .delete(`https://muestrasprint.herokuapp.com/user/${id}/`, {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          this.integrantes = this.integrantes.filter(function (
            value,
            index,
            arr
          ) {
            return value.id != id;
          });
        })
        .catch((error) => {
          console.log(error);
          alert(
            "No tiene los permisos suficientes para eliminar un usuario de la Aplicación"
          );
        });
    },

    verUsuarios: async function (id) {
      this.userID = id;

      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }

      await this.verifyToken();

      let token = localStorage.getItem("token_access");
      axios
        .get(`https://muestrasprint.herokuapp.com/user/${id}/`, {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          this.integrantes = result.data;
        })
        .catch((error) => {
          console.log(error);
          alert("No fue posible obtener los usuarios de InventarioApp");
        });
    },
  },
};
</script>
<style>
.user_list {
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.listUser {
  border: 3px solid #e6ecec;
  border-radius: 10px;
  width: 25%;
  height: 60%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.listUser h2 {
  color: #319f9b;
}

.listUser table {
  border-collapse: collapse;
  width: 100%;
}

.listUser th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.listUser tr:hover {background-color: #319f9b;}

.listUser button {
  width: 100%;
  height: 40px;
  color: #e5e7e9;
  background: #319f9b;
  border: 1px solid #e5e7e9;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0;
}
.listUser button:hover {
  color: #283747;
  background: #e5e7e9;
  border: 1px solid #319f9b;
}
</style>